html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 2rem;
  font-size: 1.4rem;
  background: #45A0A7;
  background: linear-gradient(90deg, #49B49D 0%, #418DB1 100%);
  color: #FFF;
}

.banner h1 {
  font-size: 4rem;
  font-family: "Overlock SC", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #f2ff8e;
}

h2,
h3 {
  font-weight: bold;
}

h2 {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 3rem;
}

h3 {
  margin-top: 5rem;
  font-size: 1.5rem;
}

h4 {
  margin-top: 1.5rem;
}

em {
  font-style: italic;
}

pre,
div.section-title,
div.footer {
  background-color: #0002;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.2rem;
  border: 1px solid #fff;
  overflow-x: scroll;
}

a {
  text-decoration: none;
  outline : none;
}

a:hover {
  text-decoration: underline;
}

p,
ul {
  padding: 1rem 0;
}

body > div > div {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

div.banner {
  background-color: #FFF;
  color: #45A0A7;
}

div.section-title {
  color: #fff;
  margin-top: 20px;
}

div.section-title > div {
  padding: 1rem 2rem;
}

div.section-title h2,
div.section-title h3 {
  margin-top: 0;
}

div.section-title p {
  padding: 0;
}

div.section-title a {
  color: #fff;
}

.full-width div {
  margin: 0;
  padding: 0;
  line-height: 0;
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.full-width img {
  max-width: 100%;
}

.splash {
  text-align: center;
}

.splash > div {
  display: inline-block;
}

.splash img {
  max-width: 100%;
  height: auto;
}

.splash .caption {
  font-style: italic;
  font-size: 0.8rem;
  text-align: right;
  padding: 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.social {
  text-align: right;
  padding: 0;
  line-height: 1;
}

.social li {
  display: inline-block;
}

.social img {
  opacity: 75%;
  margin: 1rem;
}

.social a:hover img {
  transition: all 200ms ease;
  opacity: 100%;
}

.footer {
  text-align: right;
  font-size: 1rem;
}

@media (max-width: 500px) {
  body > div > div {
    padding: 1rem;
  }
  body > div.banner > div {
    padding: 2rem 1rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
  .social img {
    margin: 0.4rem;
  }
}
